
main {
  display: flex;
  border: solid black;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box1 {
border: solid pink;
padding: 75px;
margin-top: 30px;
}

.box2 {
border: solid pink;
padding: 75px;
margin-top: 30px;
}

.box3 {
border: solid pink;
padding: 75px;
margin-top: 30px;
}

.box4 {
border: solid pink;
padding: 75px;
}

.box5 {
border: solid pink;
padding: 75px;
}

.box6 {
border: solid pink;
padding: 75px;
}

.box7 {
border: solid pink;
padding: 75px;
}
